<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.noahpatterson.destinycasts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WeeklyListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseIntroActivity" />

        <service
            android:name=".FetchPodcastFeedsIntentService"
            android:exported="false" />

        <provider
            android:name=".data.PodcastProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".EpisodeActivity"
            android:label="@string/title_activity_episode"
            android:parentActivityName=".WeeklyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.noahpatterson.destinycasts.WeeklyListActivity" />
        </activity>

        <service
            android:name=".service.PlayerService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>